:root{
    --transition-3s: all .3s linear;
}

.v-rightbg {
    background-image: url(../assets/images/long_shapte.png);
    background-size: 135%;
    background-position:center;
}


.v-leftbg {
    background-image: url(../assets/images/round_shap.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.v-nav-icon {
    position: relative;
    z-index: 2;
}


.v-nav-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/middel_shap.png);
    background-position: bottom;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -2;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-3s);

}
.v-nav-icon:hover:after {
    top: -8px;
    opacity: 1;
    visibility: visible;
}









@media screen and (max-width: 576px) {
    .v-rightbg {
    background-image: url(../assets/images/long_shapte.png);
    background-size: 140%;
    background-position:top -60px left -69px;
}
}